/* Applies background image, flexbox, main container for all objects */
body {
    background-image: url("../images/ball_background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    transition: 3s;
}

/* Style for the header, 'Magic 8 Ball' */
#title {
    font-size: 4.5rem;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.85);
    transition: 0.6s;
    text-shadow: 10px 10px 2px black;
}

/* Upon hover, header will increase in font-size and become lose transparency */
#title:hover {
    font-size: 5.25rem !important;
    color: rgba(255, 255, 255, 1);
}

/* Applies flex-box to question form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for 'Ask me anything' */
#label {
    font-size: 3rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 5px 5px 4px black;
    font-family: 'Indie Flower', cursive;
    transition: 0.6s;
}

/* Upon hover, 'Ask me anything' will increase in font-size and become lose transparency */
#label:hover {
    font-size: 3.5rem !important;
    color: rgba(255, 255, 255, 1);
}

/* Style for input box for user to type in */
#ask {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid purple;
    transition: 0.3s;
    font-family: 'M PLUS 1 Code', sans-serif;
}

/* Style for button to submit form */
#button {
    height: 3rem;
    width: 7rem;
    font-size: 2rem;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid gray;
    border-radius: 50%;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: 'Staatliches', cursive;
}

/* Upon hover, button will increase in size */
#button:hover {
    height: 3.3rem;
    width: 8.2rem;
    font-size: 2.5rem;
    border: 2px solid white;
}

/* Style for image of Magic 8 ball */
#ball {
    transition: 1s;
    width: 20rem;
    height: 20rem;
    position: relative;
}

/* Style for div that contains button that links to source code */
#github {
    top: 1rem;
    position: absolute;
    color: white;
    width: 100%;
    height: 2.5rem;
    padding-top: 0.5rem;
}

/* Style for button that links to source code */
.fab {
    color:rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 1rem;
    font-size: 7rem;
    transition: 0.6s;
    text-shadow: 5px 5px 2px black;
}

/* Upon hover, github link button will increase in size and lose transparency */
.fab:hover {
    color:rgba(255, 255, 255, 1);
    font-size: 8.5rem;
}

/* Media queries used for optimal sizing on mobile devices */
@media (max-width: 450px) {
    #title {
        font-size: 2.5rem;
    }
    #ball {
        width: 15rem;
        height: 15rem;
    }
    #label {
        font-size: 2.5rem;
    }
    #ask {
        width: 20rem;
    }
    #github {
        display: none;
    }
}