body {
    background-image: url("../images/ball_background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#title {
    font-size: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
    color: white;
}
  

#label {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    font-family: Calibri;
    color: white;
}

#ask {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 2rem;
    border: 2px solid red;
    font-size: 2rem;
}

#button {
    height: 3rem;
    width: 4rem;
    font-size: 1.5rem;
}

#ball {
    transition: 1s;
    width: 25rem;
    height: 25rem;
    position: relative;
}


@media (max-width: 450px) {
    #title {
        font-size: 2.5rem;
    }
    #ball {
        width: 15rem;
        height: 15rem;
    }
    #label {
        font-size: 2.5rem;
    }
    #ask {
        width: 20rem;
    }
}