body {
    background-image: url("../images/ball_background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    transition: 3s;
}

#title {
    font-size: 4.5rem;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    transition: 0.5s;
    text-shadow: 10px 10px 5px black;
}

#title:hover {
    font-size: 5.25rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
    font-size: 3rem;
    margin-bottom: 0;
    color: white;
    text-shadow: 5px 5px 4px black;
    font-family: 'Indie Flower', cursive;
    transition: 0.5s;
}

#label:hover {
    font-size: 3.5rem;
}

#ask {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid purple;
    transition: 0.3s;
    font-family: 'M PLUS 1 Code', sans-serif;
}

#button {
    height: 3rem;
    width: 7rem;
    font-size: 2rem;
    transition: 0.3s;
    background-color: rgba(230, 32, 213, 0.25);
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: 'Staatliches', cursive;
}

#button:hover {
    height: 3.3rem;
    width: 8.2rem;
    font-size: 2.5rem;
}

#ball {
    transition: 1s;
    width: 20rem;
    height: 20rem;
    position: relative;
}

#footer {
    bottom: 2rem;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    padding-top: 0.5rem;
}

.fab {
    color: white;
    font-size: 4rem;
    transition: 0.5s;
    text-shadow: 5px 5px 2px black;
}

.fab:hover {
    transform: translateY(-10px);
    color: yellow;
}

@media (max-width: 450px) {
    #title {
        font-size: 2.5rem;
    }
    #ball {
        width: 15rem;
        height: 15rem;
    }
    #label {
        font-size: 2.5rem;
    }
    #ask {
        width: 20rem;
    }
    #footer {
        display: none;
    }
}